<!-- 작성된 게시글 조회 -->
<!DOCTYPE html>
<html>
  
    <%- include('../common/header.ejs') %>

    <body>
      <%- include('../common/nav.ejs', {isToken : true}) %>

      <div class="container overflow-hidden text-center p-5">
        <div class="mb-3">
          <input type="text" readonly class="form-control-plaintext rounded border border-success" id="titleInput" value="<%= result.data?.title %>">
        </div>
        <div class="mb-3">
          <textarea name="content" readonly class="form-control-plaintext rounded border border-success" id="contentInput" rows="10"><%= result.data?.content %></textarea>
        </div>
      </div>

      <div class="mb-3 p-2">
        <button type="submit" class="btn btn-success" onclick= "back()"> 뒤로가기 </button>
        <button type="button" class="btn btn-secondary" onclick="getEdit()"> 수정 하기 </button>
        <button type="button" class="btn btn-secondary" onclick="deleteBoard()"> 삭제 하기 </button>
      </div>

      <%- include('../common/footer.ejs') %>

      <script>

      if ('<%= result.result %>' === 'false') {
          window.history.back();
      } 

        function back(){
          window.history.back(); // 이전 페이지로 이동
        }

        async function getEdit() { // 권한이 있다면 수정 페이지로 이동
            const path = window.location.pathname
            const boardId = path.split("/")[2]

            window.location.assign(`/board/${boardId}/edit`)

        }

        async function deleteBoard(){
          try {
            const path = window.location.pathname
            const boardId = path.split("/")[2]

            const response = await fetch(`/board/${boardId}`, {
                      method: 'DELETE'
            })
            
            const result = await response.json()


            if (result.result===true){
              window.location.assign(`/board`)// 게시글 리스트 조회 페이지로 이동
            }

          } catch (err){
            alert(err)
          }
        }
      </script>

    </body>
</html>