<!DOCTYPE html>
<html>
  
    <%- include('../common/header.ejs') %>

    <body>

      <%- include('../common/nav.ejs') %>

      <div class="container overflow-hidden text-center p-5">
        <div class="mb-3">
          <input type="text" class="form-control-plaintext rounded border border-success" id="titleInput" value="<%= result.data?.originalTitle %>" >
        </div>
        <div class="mb-3">
          <textarea name="content" class="form-control-plaintext rounded border border-success" id="contentInput" rows="10"><%= result.data?.originalContent %></textarea>
        </div>
      </div>

      <div class="mb-3 p-2">
        <button type="submit" class="btn btn-success" onclick= "back()"> 뒤로가기 </button>
        <button type="button" class="btn btn-secondary" onclick="saveEdited()"> 수정 완료 </button>
      </div>

      <%- include('../common/footer.ejs') %>

    <script>

      
      if ('<%= result.result %>'== 'false') {
          window.history.back();
      } 


      function back(){
        window.history.back(); // 이전 페이지로 이동
      }

      async function saveEdited(){ // 수정한 글 저장
        try {
          const path = window.location.pathname
          const boardId = path.split("/")[2]

          const title = document.getElementById('titleInput').value
          const content = document.getElementById('contentInput').value

          const response = await fetch(`/board/${boardId}/edit`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      title: title, // 업데이트 될 내용
                      content : content
                  })
                })

          const result = await response.json()
          window.location.assign(`/board/${boardId}`)

        } catch (err) {
              alert(err)
        }
      }

    </script>
  </body>
</html>