<!DOCTYPE html>
<html>
  
    <%- include('../common/header.ejs') %>

    <body>

      <%- include('../common/nav.ejs') %>

      <div class="container overflow-hidden text-center p-5">
        <div class="mb-3">
          <input type="text" class="form-control-plaintext rounded border border-success" id="titleInput" value="<%= result.data?.originalTitle %>" >
        </div>
        <div class="mb-3">
          <textarea name="content" class="form-control-plaintext rounded border border-success" id="contentInput" rows="10"><%= result.data?.originalContent %></textarea>
        </div>
      </div>

      <div class="mb-3 p-2">
        <button type="submit" class="btn btn-success" onclick= "back()"> 뒤로가기 </button>
        <button type="button" class="btn btn-secondary" onclick="saveEdited()"> 수정 완료 </button>
      </div>

      <%- include('../common/footer.ejs') %>

    <script>

      alert('<%= result.message %>')


      function back(){
        window.history.back(); // 이전 페이지로 이동
      }

      async function saveEdited(){ // 수정한 글 저장
        try {
          const path = window.location.pathname
          const boardId = path.split("/")[2]

          const response = await fetch(`/board/${boardId}/edit`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      title: title, // 업데이트 될 내용
                      content : content
                  })
                })
          
          if (!response.ok) { // 에러 상태를 처리 : response.ok가 true이면, 응답 상태 코드가 200번대(성공)
              const errorMessage = await response.text();
              alert(`수정된 게시글 중 에러 발생 (에러: ${response.status} - ${errorMessage})`);
              throw err;
          }

          const result = await response.json()

          alert('게시글 저장 결과 : ' + result.message)
          alert('boardId : '+boardId)

          await showEdited() // 편집 완료된 게시글을 조회하는 함수 호출

        } catch (err) {
              console.log('에러 발생:', err)
              alert(err)
        }
      }

    async function showEdited() { // 편집 완료된 게시글 조회
      try { 
          const path = window.location.pathname
          const boardId = path.split("/")[2]
          alert('boardId : '+boardId)

          await fetch(`/board/${boardId}`)

      } catch (err) {
          console.log('에러 발생:', err)
          alert(err)
      }
    }

    </script>
  </body>
</html>
