<!-- 작성된 게시글 목록 -->
<!DOCTYPE html>
<html>

  <%- include('../common/header.ejs') %>
  
  <body>

  <%- include('../common/nav.ejs', {isToken : true}) %>

  <div class="container overflow-hidden text-center p-5">
    <div class="d-flex p-3 " role="search" >
        <input class="form-control me-2" type="search" id="searchInput" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>

    <div class="d-flex dropdown justify-content-end p-2">
        <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          정렬 방식
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">오래된순</a></li>
          <li><a class="dropdown-item">최신순</a></li>
          <li><a class="dropdown-item">좋아요 많은 순</a></li>
          <li><a class="dropdown-item">좋아요 적은 순</a></li>
          <li><a class="dropdown-item">조회수 많은 순</a></li>
          <li><a class="dropdown-item">조회수 적은 순</a></li>
        </ul>
    </div>

    <div class="d-flex justify-content-end p-2" role="search">
        <button type="button" class="btn btn-outline-success"> 새 게시글 작성 </button>
    </div>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">좋아요</th>
            <th scope="col">조회수</th>
            <th scope="col">작성일</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">

          <% for(let i=0; i< board.data.length; i++) { %>

          <tr>
            <th scope="row">i</th>
            <td><%=board.data[i].board_title%></td>
            <td><%=board.data[i].userNickname%></td>
            <td><%=board.data[i].board_liked%></td>
            <td><%=board.data[i].board_view%></td>
            <td><%=board.data[i].createdAt%></td>
          </tr>
          <% } %>

        </tbody>
      </table>

  </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center p-5">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <%- include('../common/footer.ejs') %>

      <script></script>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>